<section class="position-relative">
  <h2 class="position-absolute top-0 start-50 translate-middle-x">Create New Post</h2>

  <form class="new-post-form container p-5">
    <div class="row p-2">
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div class="row p-2">
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn btn-secondary position-absolute bottom-0 start-50 translate-middle-x">Create</button>
  </form>
</section>

{{#if posts.length}}
<section class="position-relative">
  <h2 class="position-absolute top-0 start-50 translate-middle-x p-2">Your Posts</h2>
  <ol class="container p-5">
    {{#each posts as |post|}}
    <li class="row p-2 text-center">
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>